html{
    background-color: whitesmoke;
    text-align: center;
}

nav{
margin: 0px;
width: 100%;
background-color: lightgray;
text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 2.0s ease;
}
li{
    font-size: 150%;
    border: solid thin black;
    border-collapse: collapse;
}
a {
    width: 100%;
    color:black;
    text-decoration: none;
}
table{
    width: 100%;
}
p{
    text-align: left;
    border:solid black;
    padding: 15px;
}
.active{
    background-color: white;
    scale: 1.1;
    border:solid blue;
}